.container-fluid {
  background-image: url('../../../assets/images/login-bckgrnd-img.png');
  background-repeat: repeat-y;
  min-height: 100vh;
}

.row {
  height: 670px;
}

.row .left {
  text-align: center;
  color: #3f51b5;
  /* font-size: 60px; */
  letter-spacing: 1px;
  /* margin-top: 100px; */
}

.row .left h1 {
  font-size: 4.8rem;
}

.row .right {
  border-radius: 25px;
  /* margin-top: 100px; */
}

.form-horizontal {
  background-color: #fff;
  font-family: 'Arimo', sans-serif;
  text-align: center;
  padding: 25px 25px 30px 25px;
  width: 80%;
  border: 2px solid #3f51b5;
  border-radius: 25px;
}

.form-horizontal .heading{
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #3f51b5;
}

.form-horizontal .form-group{
  margin: 20px auto 0px;
  position: relative;
}

.form-horizontal .form-group:nth-last-child(2) { margin-bottom: 15px; }

.form-horizontal .form-group:last-child { margin: 0; }

.form-horizontal .form-group > i {
  color: rgba(0,0,0,0.4);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
}

.form-horizontal .form-control{
  font-size: 17px;
  letter-spacing: 1px;
  height: 30px;
  padding: 5px 10px 2px 25px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.4);
  border-radius: 0;
  display: inline-block;
}

.form-control::placeholder{
  color: rgba(0,0,0,0.4);
  font-size: 16px;
}

.form-horizontal .form-control:focus{
  box-shadow: none;
}

.form-horizontal .btn{
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  margin: 10px auto 5px;
  position: relative;
}

.validation-message{
  color:#ed5558;
}

.alert {
  padding: 5px;
  margin-bottom: 5px;
  margin-top: -15px;
  line-height: 25px;
}
