<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-sm-8 col-md-8 col-lg-8 left">
      <h1>GESL - ALM</h1>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 right">
      <form #forgotPasswordForm="ngForm" class="form-horizontal needs-validation"
        (ngSubmit)="forgotPasswordForm.valid && onSubmit(forgotPasswordForm)">

        <div class="heading">Forgot Password</div>
        <div class="heading">GESL - ALM</div>
        <br>

        <div class="form-group">
          <i class="fa fa-envelope"></i><input #email="ngModel" [(ngModel)]="newPassword.email" required
            [pattern]="emailRegex" name="email" type="email" class="form-control" placeholder="Registered Email ID">
        </div>
        <div class="validation-message" *ngIf="forgotPasswordForm.submitted && email.errors">
          <small *ngIf="email.errors.required">Please enter your email address.</small>
          <small *ngIf="email.errors.pattern">Please enter a valid email address.</small>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default ripple">Retrieve Password &nbsp;
            <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
          </button>
 
          <!-- Error message -->
          <div class="alert alert-danger" *ngIf="serverErrors">
            {{ serverErrors }}
          </div>

          <a routerLink="/login" class="loginTo" routerLinkActive="active">Login to GESL - ALM</a>
        </div>

      </form>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
