.container-fluid {
  background-image: url('../../../assets/images/login-bckgrnd-img.png');
  background-repeat: repeat-y;
  min-height: 100vh;
}

.row {
  height: 650px;
}

.row .left {
  text-align: center;
  color: #3f51b5;
  /* font-size: 60px; */
  letter-spacing: 1px;
  /* margin-top: 100px; */
}

.row .left h1 {
  font-size: 4.8rem;
}

.row .right {
  border-radius: 25px;
  margin-top: 50px;
}

.form-horizontal {
  background-color: #fff;
  text-align: center;
  padding: 25px 25px 30px 25px;
  width: 80%;
  line-height: 225%;
  border: 2px solid #3f51b5;
  border-radius: 25px;
  box-shadow: 0px 0px 15px -4px;
}

.col-sm-4,
.col-md-4,
.col-lg-4 {
  display: flex;
}

.form-horizontal .heading {
  color: #3f51b5;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.form-horizontal .form-group {
  margin: 15px auto 0px;
  position: relative;
}

.form-group .stayInLogin {
  margin: none;
  color: rgba(0, 0, 0, 0.4);
}

.form-horizontal .form-group:nth-last-child(2) {
  margin-bottom: 5px;
}

/* .form-horizontal .form-group:last-child { margin-bottom: 0px; } */

.form-horizontal .form-group>i {
  color: rgba(0, 0, 0, 0.4);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
}

.form-horizontal .form-control {
  font-size: 17px;
  letter-spacing: 1px;
  height: 30px;
  padding: 5px 10px 2px 25px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0;
  display: inline-block;
}

.form-control::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
}

.form-horizontal .form-control:focus {
  box-shadow: none;
}

.form-horizontal .btn {
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  margin: 0 auto 5px;
  position: relative;
}

/* .form-horizontal .a{
    top: 394px;
    left: 896px;
    width: 269px;
    height: 39px;
    font-size: 15px;                        
    font-family: 'Arimo', sans-serif;
    font-weight: 600;
    display: inline-block;
} */

.form-horizontal .forgot_password {
  float: left;
  text-align: start;
}

.form-horizontal .register {
  float: right;
}

a {
  display: table;
  color: #3f51b5;
}

.validation-message {
  color: #ed5558;
  line-height: 15px;
}

.alert {
  padding: 5px;
  margin-bottom: 5px;
  line-height: 25px;
}

